 .origami{
    display:flex;
    justify-content: space-evenly;
    
}
/* .img1{
    display: flex;
    justify-content: space-between;
    margin-left:100px;
    margin-top:800px;
} */ 
.about a{
    margin-left: 1000px;
    margin-bottom:100px;
}
.img1 img{
    display:flex;
    position:absolute;
    top:25%;
}
.img2 img{
    display:flex;
    position:absolute;
    top:85%;
    
}
.img3 p{
    display:flex;
    position:absolute;
    right:10%;
    margin-bottom:150px;
    
}
.img3 img{
    display:flex;
    position: absolute;
    top:145%
}
.img4 img{
    display:flex;
   
 position: absolute;
   left:1%;
   top:210%;
}
.d1{
    display:flex;
     margin-left:290px;
    margin-top:50px;
    font-size: 20px;
}
.d2 p{
    display:flex;
     position: absolute;
     top:90%;
     left:23%;
    font-size: 20px;
}
.d3 p{
    display:flex;
    justify-content: flex-start;
   font-size: 20px;
   position:absolute;
   top:150%;
   left:23%;

}
.d4{
    display:flex;
   font-size: 20px;
   position:absolute;
   left:23%;
   top:210%
}
html, body {
    margin: 0;
    padding: 0;
    background-color:rgb(131, 247, 191)
}